@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/button.css);
@import url(./blocks/popup.css);

.root {
  background-color: black;
  min-height: 100vh;
  font-family: 'Inter';
  padding-bottom: 194px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1024px) {
  .root {
    padding-bottom: 140px;
  }
}


.root__section {
  width: calc(100% - 400px);
  margin: auto;
}

@media screen and (max-width: 980px) {
  .root__section {
    width: 90%;
  }
}
